
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #fff;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle; 
}
nav{
    width: 100%;
    padding: 25px 0 10px;
    display: flex;
    align-items: center;
    background-color:#e9f3ed;
    padding-left: 6%;
    padding-right: 6%;
    justify-content: space-between;
    margin: auto;
}
.logo{
  display: flex;
  width: 73px;
  height: 54px;
  cursor: pointer;
  float: right;
}
.logo h1{
  color: #13542d;
  font-size: x-large;
  font-family: 'Sansita Swashed';
  font-weight: bolder;
}
.logo article{
  color: #c3cf0a;
}
.search-box.expanded {
  display: block;
  float: left;
  margin-left: 16px;
  padding-bottom: 8px;
}

@media screen and (max-width: 650px) {
  .navbar a:not(:first-child) {
      display: none;
  }

  .navbar a.icon {
      display: block;
      float: right;
  }

  .search-box {
      display: none;
  }
}
button {
  height: 26px;
  width: 80px;
  margin-left: -5px;
  background: none;
  font-size: 25px;
  border: none;
  margin-top: 14px;
  margin-right: 16px;
  border-radius: 50%;
  font-size: 32px;
  color: #2f2b70;
}
  
.search-box input[type=text] {
  height: 26px;
  font-size: 17px;
  width: 200px;
  margin-top: 14px;
  background: rgba(216, 55, 55, 0.7);
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: #2f2b70;
  border-radius: 60px;
  
}
.hero{
  width: 100%;
  min-height: 100vh;
  background-color: #d7eadd;
  display: flex;
  align-items: center;
  overflow: scroll;
}
.textBox{
  width: 60%;
  margin: 120px auto 0;
  font-weight: 800;
  font-family: 'Sansita Swashed';
  vertical-align: middle;
}
.textBox h1{
  margin-bottom: 30px;
  font-size: 60px;
  color: #13542d;
}

.fancyText{
  color: #c3cf0a;
}
.fancyTextName{
  color: #c3cf0a;
  font-size: 62px;
  font-family: 'Sansita Swashed';
}
.textBox h4{
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 40px;
  color: #0b0b0b;
}


.textBox button:hover{
  background-color: #2f2b70;
  transform: scale(1.1);
} 
.sidebar{
  height: 340px;
  width: 60px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  background: #fff;
  opacity: 0.7;
}
.iconBox{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  margin: 6px auto;
  
}
.sideText {
  min-width: 0px;
  height: 100%;
  background: #0b0b0b;
  margin-right: 5px;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 0 0 5px;
  overflow: hidden;
  transition: 0.5s;
  opacity: 0.6;
}
.sideText a{
  text-decoration: none;
  color: #f1f1f1;
  font-weight: bolder;
}
.icons{
  min-width: 50px;
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
}
.icons ion-icon{
  font-size: 23px;
  color: #13542d;
  line-height: 50px;
  padding: 10px 5px 5px 10px;
}
.iconBox:hover .icons{
  background: #1b65a7;
}
.iconBox:hover .icons ion-icon{
  color: #fff;
}
.iconBox:hover .sideText {
  min-width: 140px;
}
@media screen and (max-width: 650px) {
  .textBox{ 
    flex: 50%;
    max-width: 50%;
    flex-direction: column;
    padding: auto;
  }
  .sidebar{
    background: transparent;
  }
}
.containerA{
  width: 100%; margin: auto; text-align: center; padding-top: 100px;
  background-color: #e9f3ed;
  display: flex;
  min-height: 100vh;
  align-items: center;
  color: #13542d;
  justify-content: center;
}
.col-1{
  display: flex;
  border: 4px solid #1b65a7;
  flex-basis: 55%;
  margin: auto;
}
.col-1 img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.col-2{
  flex-basis: 40%;
  margin: auto;
}
.col-2 h3{
  color: #1b65a7;
  margin-bottom: auto;
  font-weight: 800;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  
}
.title{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #0f1626;
}
.title::after{
  content: '';
  background:#fdbb48 ;
  width: 6em;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.containerA h1{
  font-size: 36px;
  font-weight: 600;
}
.containerA p{
  color: #777;
  font-size: 22px; line-height: 30px; padding: 10px;
  font-weight: 500; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.slide-Left{
  animation: 2s slideLeft linear forwards ;
}
@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  50% {
    transform: translateX(50px);
    opacity: 0.1;
  }
  100%{
    transform: translateX(0px);
    opacity: 1;
  } 
}
.col-1 .slide-Left{
  animation-delay: 3s;
}
.swipe-up{
  animation: 2s slideUP linear forwards 
}
@keyframes slideUP {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  50% {
    transform: translateY(80px);
    opacity: 0.1;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  } 
}
.col-1 .slide-up{
  animation-delay: 0.8s;
}